body {
    background-color: #DFDFFF;
}

.buyInput {
    margin-left: 20px;
}

#modal_buy_footer_info {
    float: left;
}

#modal_rental_footer_info {
    float: left;
}

.receipt_table {
    width: 100%;
}

.receipt_table td {
    width: 33%;
}

#myScrollspy {
    position: fixed;
    z-index: 5;
    left: 0;
    width: 200px;
}

@media only screen and (max-width: 1550px) {
    #myScrollspy {
        display: none;
    }
}