{% extends "skeleton.html" %}
{% block title %}
    Min Side
    {{ super() }}
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block innercontent %}
    <div class="panel panel-info">
        <div class="panel-heading">Bytting av passord</div>
        <div class="panel-body">
            <form action="/change_password" method=post class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                      <input type="password" id="old_password" name="old_password" class="input-xlarge"
                        placeholder="Gammelt passord" value="{{ request.form.old_password }}"
                        required>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                      <input type="password" id="new_password" name="new_password" class="input-xlarge"
                        placeholder="Nytt passord" value="{{ request.form.new_password }}"
                        required>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                      <input type="password" id="new_password_repeat" name="new_password_repeat" class="input-xlarge"
                        placeholder="Gjenta nytt passord" value="{{ request.form.new_password_repeat }}"
                        required>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success">Registrer</button>
                    </div>
                </div>
              </form>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">Sletting av bruker</div>
        <div class="panel-body">
            <form action="/delete_user" method=post class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                      <input type="password" id="old_password" name="old_password" class="input-xlarge"
                        placeholder="Gammelt passord" value="{{ request.form.old_password }}"
                        required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success">Slett bruker</button>
                    </div>
                </div>
              </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Aktive heiskort</div>
        <div class="panel-body">
            <table class="receipt_table">
                {% if buy_receipts_active %}
                <tr>
                    <td><b>Type</b></td><td><b>Kjøpt</b></td><td><b>Utgår</b></td>
                </tr>
                {% else %}
                    Du har ingen aktive heiskort
                {% endif %}
                {% for item in buy_receipts_active  %}
                    <tr>
                        <td>
                            {{ item.item.name }}
                        </td>
                        <td>
                            {{ item.receipt.buy_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                        <td>
                            {{ item.receipt.until_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Aktive skipakker</div>
        <div class="panel-body">
            <table class="receipt_table">
                {% if rental_receipts_active %}
                <tr>
                    <td><b>Type</b></td><td><b>Kjøpt</b></td><td><b>Utgår</b></td>
                </tr>
                {% else %}
                    Du har ingen aktive skipakker
                {% endif %}
                {% for item in rental_receipts_active  %}
                    <tr>
                        <td>
                            {{ item.item.name }}
                        </td>
                        <td>
                            {{ item.receipt.buy_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                        <td>
                            {{ item.receipt.until_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Utgåtte heiskort</div>
        <div class="panel-body">
            <table class="receipt_table">
                {% if buy_receipts_not_active %}
                <tr>
                    <td><b>Type</b></td><td><b>Kjøpt</b></td><td><b>Utgått</b></td>
                </tr>
                {% else %}
                    Du har ingen utgåtte heiskort
                {% endif %}
                {% for item in buy_receipts_not_active  %}
                    <tr>
                        <td>
                            {{ item.item.name }}
                        </td>
                        <td>
                            {{ item.receipt.buy_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                        <td>
                            {{ item.receipt.until_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Utgåtte skipakker</div>
        <div class="panel-body">
            <table class="receipt_table">
                {% if rental_receipts_not_active %}
                <tr>
                    <td><b>Type</b></td><td><b>Kjøpt</b></td><td><b>Utgått</b></td>
                </tr>
                {% else %}
                    Du har ingen utgåtte skipakker
                {% endif %}
                {% for item in rental_receipts_not_active  %}
                    <tr>
                        <td>
                            {{ item.item.name }}
                        </td>
                        <td>
                            {{ item.receipt.buy_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                        <td>
                            {{ item.receipt.until_time.strftime('%d.%m.%Y - %H:%M') }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
